<h1 class="page-header">Search#search</h1>
<p>Find me in app/views/search/search.html.erb</p>

<%= form_tag('/search') do %>
  <%= text_field_tag :kindle_book, "", id: "book_search", name: "keyword", placeholder: "キーワードを入力" %>
  <%= submit_tag "検索", class: "btn btn-primary" %>
  <% end %>
<%= link_to "戻る", mypage_path %>
